*.o
*.sublime-project
*.sublime-workspace
.tags_sorted_by_file
.tags
MDK-ARM/Project_STM3210E-EVAL.dep
MDK-ARM/Output/*
MDK-ARM
MDK-ARM/JLinkLog.txt
*.bak
*.o.cmd
*.ko.cmd
*.mod.o.cmd
*.mod.c
*modules.order
*Module.symvers
*.tmp_versions
*.ko
release